mat-form-field {
  width: 100%;
}

.form-field {
  margin-bottom: 1.25em;
}

.form-row {
  display: flex;
}

.form-row mat-form-field:not(:last-child) {
  margin-right: 1.5rem;
}

mat-card,
.form {
  max-width: 600px;
  margin: auto;
}
