<mat-card *ngIf="!isLoading">
  <form [formGroup]="form" #formRef="ngForm" (submit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        formControlName="title"
        placeholder="Type post title..."
      />
      <mat-error *ngIf="form.get('title')?.invalid">
        Please enter a valid title
      </mat-error>
    </mat-form-field>

    <div class="form-field">
      <app-file-upload
        formControlName="image"
        [isInvalidMimeType]="form.get('image')?.errors?.invalidMimeType"
      >
      </app-file-upload>
      <mat-error
        *ngIf="form.get('image')?.invalid && form.get('image')?.touched"
      >
        <ng-container
          *ngIf="
            form.get('image')?.errors?.invalidMimeType;
            else selectFileMessage
          "
          >Invalid file type
        </ng-container>
        <ng-template #selectFileMessage>Please select an image</ng-template>
      </mat-error>
    </div>

    <mat-form-field>
      <textarea
        matInput
        cols="30"
        rows="10"
        formControlName="content"
        placeholder="Type post content..."
      >
      </textarea>
      <mat-error *ngIf="form.get('content')?.invalid">
        Please enter a valid content
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Save post</button>
  </form>
</mat-card>
