<ng-container *ngIf="!isLoading">
  <mat-accordion multi *ngIf="posts.length > 0; else no_content">
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ post.title }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="post-image">
        <img [src]="post.imageUrl" [alt]="post.title" />
      </div>
      <p>{{ post.content }}</p>
      <mat-action-row *ngIf="authService.me?.id === post.creator">
        <a mat-button color="accent" [routerLink]="['/update', post.id]"
          >EDIT</a
        >
        <button mat-button color="warn" (click)="onDelete(post.id)">
          DELETE
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-paginator
    [length]="length"
    [pageIndex]="page"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"
  ></mat-paginator>

  <ng-template #no_content>
    <p class="mat-body-1 info-text">No posts added yet!</p>
  </ng-template>
</ng-container>
